nav{

height: 100vh;
background-image: url(images/background-1.png), url(images/background-2.png);
background-size: cover;
background-position: center;
padding: 10px 8%;

} 
 
.navitem{
    font-size: xx-large;
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size:25px;
    
}
.navitems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
    
}
 li {
    display: flex;
    
    justify-content: space-between;
    
    
}
.aa{
    display: flex;
    justify-content: space-between;
}
.login{
    border-radius: 50px ;
    background-color: transparent;
    height: 40px;
    width: 100px;
    color: white;
    border: 1px solid white;
}
.btsmain{
     margin-top: 40px;
     margin-left: 2px;
}
.textmain1{
    font-size: 40px;
    position: absolute;
    left: 800px;
    top: 200px;
}
.textmain2{
    font-size: 18px;
    position: absolute;
    left: 800px;
    top: 350px;
}
.buttmain1{
    border-radius: 50px;
    height: 60px;
    width: 182px;
    background: #F5167E;
    border-style: hidden;
    position: absolute;
    top: 450px;
    right: 500px;
    
    
}
.buttmain2{
    background: transparent;
    border-style: solid;
    border-radius: 50px;
    height: 60px;
    position: absolute;
    width: 182px;
    top: 450px;
    right: 300px;
}
.buttmai{
   text-decoration: none;
   color: white;
   font-size: 20px;
}













.box{
     width: 300px;
     height: 100px;
     background-color:#242565;
     margin: auto;
     width: 80%;
     height: 140px ;
     border-radius: 20px;
     margin-top: -90px;
     display: flex;
    
     


    }

    .input1{
        display: block;
        background-color: transparent;
        border-top: none ;
        border-left: none;
        border-right: none;
      
        font-size: x-large;
        width: 290px;
    }
.input2{
    display: block;
    background-color: transparent;
    border-top: none ;
    border-left: none;
    border-right: none;
 
    font-size: x-large;
    width: 290px;
    
}
.input3{
    display: block;
    background-color: transparent;
    border-top: none ;
    border-left: none;
    border-right: none;
    
    font-size: x-large;
    width: 290px;
    color: gray;
    
    
 
}
    

 .box1{
  font-size: xx-large;  
  margin-top: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 50px;
}

 .box2{
    font-size: xx-large;
    margin-top: 25px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 125px;
    
}
.box3{
    font-size: xx-large;  
    margin-top: 25px; 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-left: 150px;
}  













.up{
  display: flex;
  justify-content: space-around;
  margin-top: 120px;

}
.upcoming{
    text-decoration: none;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #242565;
    font-weight: bold;
}
.select{
    background-color: #F2F4FF ;
    border: none;
    border-radius:50px;
    width: 168px;
    height: 46px;
    font-size:large;
    padding-left: 30px;
    margin:20px;

   
}





 /* about */

 























 /* footer */

 footer{
 background-color: #242565;
 width: 100%;
 height: 400px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 


}


.b55555{
    width: 270px;
    font-family: monospace;
    font-size: 14px;

    
}
.div1{
    height: 300px;
    width: 300px;
}
.zzz{
    display: flex;
    justify-content: space-around;
    width: 70%;

}
.ssss{
    height: 350px;
    display: flex;
    flex-direction: column;
    
}
.llllll{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
font-size: xx-large;
}
.vvv{
    margin-bottom: 10px;

  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.divdiv{
    display: flex;
    flex-direction: column;
    height: 350px;
}
.divdi{
    height: 350px;
}
.ggg{
    background-color: white;
    border-radius: 45px;
    height: 60px;
    width: 364px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gg{
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    
}
.g{
    height: 46px;
    width: 149px;
    border-radius: 50px;
    border-style: none;
    background-color: #F5167E;
}

.sectionmove{
    background-color: #EEE1FF;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join{
 
    /* 
    margin-left: 600px;
    margin-top: 300px;
    height: 50px; */
    font-size: 40px;
    
    
}
.working{
    /* font-size: 18px;
    margin-left: 500px;
width: 450px;
height: 50px; */
font-size: 18px

}

.reseu{
    margin-left:150px ;
}